services:
  # 1. БОТ (Интерфейс)
  bot:
    build: .
    container_name: vavt_bot
    restart: always
    command: python run.py
    env_file: .env
    volumes:
      - ./downloads:/src/downloads
      - ./logs:/src/logs
    depends_on:
      - db

  # 2. ВОРКЕР (Парсер)
  worker:
    build: .
    container_name: vavt_worker
    restart: always
    command: python worker.py
    env_file: .env
    volumes:
      - ./downloads:/src/downloads
      - ./logs:/src/logs
    depends_on:
      - db

  # 3. БАЗА ДАННЫХ
  db:
    image: postgres:15-alpine
    container_name: vavt_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - vavt_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  vavt_pgdata: