services:
  # 1. Наш бот (теперь он запускается внутри Докера)
  bot:
    build: .
    container_name: vavt_schedule_bot  # Уникальное имя
    restart: always
    env_file:
      - .env
    volumes:
      - ./downloads:/src/downloads
      - ./logs:/src/logs
    depends_on:
      - db

  # 2. База данных
  db:
    image: postgres:15-alpine
    container_name: vavt_schedule_db   # Уникальное имя (чтобы не путать с другой базой)
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres     # Должно совпадать с .env
      POSTGRES_DB: postgres
    volumes:
      - vavt_pgdata:/var/lib/postgresql/data # Уникальное хранилище данных
    ports:
      - "5433:5432" # <--- ВАЖНО: Порт 5433 (чтобы не занять 5432, который занят старым ботом)

volumes:
  vavt_pgdata: # Объявляем уникальный том
